* {
    margin: 0;
    padding: 0;

}

.itemListContainer {
    background-color: black;
}

.itemCard {
    background-color: black;
    display: inline-block;
    padding-left: 10%;


}

.card-title {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 150%;
    font-family: 'Koulen', cursive;
}

.verMas {
    text-align: center;

}

.itemDetailCard {
    color: white;
    background-color: black;


}

.contentDetail {
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    width: 65%;
    height: 40%;
}


.itemCount {
    align-items: center;
}

.subTotal {
    display: flex;
    justify-content: center;

}

.cart {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.forms {
    display: inline-block;
    padding-bottom: 15px;
    color: whitesmoke;

}
.textCart{
    display:inline-flex;
    height:80%;
    width:100%;
    margin-left: 15%;
    margin-right: 50px;

}
.cartCard img{
    margin-right:30px;
    width: 10%;
    height: 10%;
}
.cartCard button{
    margin-left: 3%;
}
.listItem{
    height:50%;
    width: 80%;
    padding-bottom: 40px;
    padding-top: 20px;
}
.containerMoviesCart{
    height:500px;
    overflow: auto;
}
.footer{
    background: black;
    padding-top: 10%;
    padding-bottom: 10%;
}
.iconCart{
    text-align: center;
    font-size: 120%;
    
}