* {
    margin: 0;
    padding: 0;

 }

.itemListContainer{
    background-color:black;
}
.itemCard{
    background-color:black;
    display:inline-block;
    padding-left: 10%;


}

.card-title{
    color:white;
    background-color:black;
    text-align: center;
    font-size: 150%;
    font-family:'Koulen', cursive;
}

.verMas{
    text-align: center;
    
}
.itemDetailCard{
    color:white;
    background-color:black;
   

}
.contentDetail{
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color:rgba(12, 0, 0, 0.174);
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
    -1px  0px 0px black,
    0px -1px 0px black;
    width:65%;
    height:40%;
}
.cartCard{
    color:white;
    background-color:Black;
    height: 400px;
    width: 50%
    
}
.cartCard img{
    height: 400px;
    width: auto;
    

}

.itemCount{
    align-items: center;
}
.subTotal{
    display:flex;
    justify-content: center;

}